.git
.env
node_modules
vendor
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*.log
public/build
public/hot
public/storage
tests
docker-compose.yml
render.yaml
README.md
.phpunit.result.cache
.editorconfig
.gitattributes
.gitignore
